<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ blog_obj.title }}</title>
    <script src="/static/js/jquery-3.3.1.js"></script>
    <link rel="stylesheet" href="/static/blog/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/home_site.css">
    <link rel="stylesheet" href="/static/css/article_detail.css">

</head>
<body>
<div class="header">
    <div class="contain">
        <p>
            <span>{{ blog_obj.title }}</span>
            <a href="/cn_backend/">管理</a>
        </p>
    </div>
    <div class="container-fluid">
        <div class="col-sm-3">
            {% load my_tags %}
            {% get_classification_style user %}
        </div>

        <div class="col-sm-9">
            {% block article_area %}
            
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>